<div class="container-fluid">
  <div class="header">

    <img src="assets/ember-logo.png" class="heading" />

    <div class="main-buttons-div">

        <button {{action 'switchApp' "santa-monica"}} class="btn btn-primary">Santa Monica</button>
        <button {{action 'switchApp' "irvine"}} class="btn btn-primary">Irvine</button>

    </div>

  </div>

  <div class="left-nav">
      <ul style="margin-top:10px">
        {{#each nav in navData}}
            <li>
              <a href="" {{action 'selectAppRoute' nav.route}}>
                <span {{bind-attr class=":navLabel nav.className"}} aria-hidden="true"></span>{{nav.label}}
              </a>
            </li>
        {{/each}}
      </ul>
  </div>

  <div class="apps-iframe">
      {{#if appName}}
          <iframe {{bind-attr src=appName}} width="1000px" height="800px" id="module-iframe" seamless></iframe>
      {{else}}
          <p class="dashboard">Ember-SC April Meetup</p>
      {{/if}}
  </div>
</div>
